{% extends 'main.html' %}

{% load dict_filters %}

{% block content %}



<div class="cart-table-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8">

                <div class="cart-title mt-50">
                    <h2>Hi {{ request.user.username }}</h2>
                </div>


                <div class="cart-table clearfix">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th></th>
                                <th><a href="{% url 'addVehicle' %}">Add Vehicle</a></th>
                                <th><a href="{% url 'addSparepart' %}">Add Sparepart</a></th>
                                <th><a href="{% url 'addService' %}">Add Service</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if vehicles %}
                                {% for vehicle in vehicles %}
                                    <tr>
                                        <td class="cart_product_img">

                                            {% with img=vehicle_images|get_item:vehicle.id %}
                                                {% if img %}
                                                    <a href="{% url 'vehicle_detail' vehicle.id %}">
                                                        <img src="/media/{{ img.image_path }}" alt="{{ vehicle.model }}" width="150">
                                                    </a>
                                                {% else %}
                                                    <!-- <p>No image available.</p> -->
                                                {% endif %}
                                            {% endwith %}
                                        </td>
                                        <td class="cart_product_desc">
                                            <h5>{{ vehicle.model }} </h5>
                                        </td>
                                        <td class="price">
                                            <span>Ugx:{{ vehicle.price }}</span>
                                        </td>
                                        <td class="qty">
                                            <div class="qty-btn d-flex">
                                                <a href="{% url 'editVehicle' vehicle.id %}"><p><i class="fa fa-edit" aria-hidden="true"></i></p></a>  
                                                <a onclick="confirmDelete(this,'{{vehicle.model}}')" data-url="{% url 'deleteVehicle' vehicle.id %}"><p><i class="fa fa-trash" aria-hidden="true"></i></p></a>                                         
                                            </div>
                                        </td>                                        
                                    </tr>
                                {% endfor %}
                                {% else %}
                            {% endif %}


                            {% if spareparts %}
                                {% for sparepart in spareparts %}
                                    <tr>
                                        <td class="cart_product_img">

                                            {% with img=spareparts_images|get_item:sparepart.id %}
                                                {% if img %}
                                                    <a href="{% url 'sparepart_detail' sparepart.id %}">
                                                        <img src="/media/{{ img.image_path }}" alt="{{ sparepart.title }}" width="150">
                                                    </a>
                                                {% else %}
                                                    <!-- <p>No image available.</p> -->
                                                {% endif %}
                                            {% endwith %}
                                        </td>
                                        <td class="cart_product_desc">
                                            <h5>{{ sparepart.title }} </h5>
                                        </td>
                                        <td class="price">
                                            <span>Ugx:{{ sparepart.price }}</span>
                                        </td> 
                                        <td class="qty">
                                            <div class="qty-btn d-flex">
                                                <a href="{% url 'editSparepart' sparepart.id %}"><p><i class="fa fa-edit" aria-hidden="true"></i></p></a>
                                                <a onclick="confirmDelete(this,'{{sparepart.title}}')" data-url="{% url 'deleteSparepart' sparepart.id %}"><p><i class="fa fa-trash" aria-hidden="true"></i></p></a>                                            
                                            </div>
                                        </td>                                        
                                    </tr>
                                {% endfor %}
                                {% else %}
                            {% endif %}


                            {% if services %}
                                {% for service in services %}
                                    <tr>
                                        <td class="cart_product_img">

                                            {% with img=service_images|get_item:service.id %}
                                                {% if img %}
                                                    <a href="{% url 'service_detail' service.id %}">
                                                        <img src="/media/{{ img.image_path }}" alt="{{ service.type_of_service.name }}" width="150">
                                                    </a>
                                                {% else %}
                                                    <!-- <p>No image available.</p> -->
                                                {% endif %}
                                            {% endwith %}
                                        </td>
                                        <td class="cart_product_desc">
                                            <h5>{{ service.type_of_service.name }}</h5>
                                        </td>
                                        <td class="price">
                                            <span>Ugx:{{ service.start_price }}</span>
                                        </td> 
                                        <td class="qty">
                                            <div class="qty-btn d-flex">
                                                <a href="{% url 'editService' service.id %}"><p><i class="fa fa-edit" aria-hidden="true"></i></p></a>
                                                <a onclick="confirmDelete(this,'{{service.type_of_service.name}}')" data-url="{% url 'deleteService' service.id %}"><p><i class="fa fa-trash" aria-hidden="true"></i></p></a>
                                            </div>
                                        </td>                                        
                                    </tr>
                                {% endfor %}
                                {% else %}
                            {% endif %}

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>






{% endblock %}















<!-- <!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome, {{ request.user.username }}!</h1>
    <a href="{% url 'updateProfile' user.id %}"><button>Edit Profile</button></a>
    <p>YOUR VEHICLES</p>

    <a href="{% url 'logout' %}"><button>Logout</button></a>
    <a href="{% url 'addVehicle' %}"><button>Add Vehicle</button></a>
    <a href="{% url 'addSparepart' %}"><button>Add Sparepart</button></a>
    <a href="{% url 'addService' %}"><button>Add Service</button></a>

    <h2>Vehicles</h2>
    {% if vehicles %}
        <ul>
            {% for vehicle in vehicles %}
                <li>
                    <strong>{{ vehicle.make }} {{ vehicle.model }} ({{ vehicle.year }})</strong>
                    <a href="{% url 'editVehicle' vehicle.id %}"><button>Edit Vehicle</button></a>
                    <a ><button onclick="confirmDelete(this,'{{vehicle.model}}')" data-url="{% url 'deleteVehicle' vehicle.id %}">Delete Vehicle</button></a><br>
                    <div>
                        {% with img=vehicle_images|get_item:vehicle.id %}
                            {% if img %}
                                <a href="{% url 'vehicle_detail' vehicle.id %}">
                                    <img src="/media/{{ img.image_path }}" alt="{{ vehicle.model }}" width="150">
                                </a>
                            {% else %}
                                <p>No image available</p>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div>
                        <p>Key Features:</p>
                        <ul>
                            {% for feature in vehicle.key_features.all %}
                                <li>{{ feature.feature }}</li>
                            {% empty %}
                                <li>No features listed.</li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No vehicles found.</p>
    {% endif %}

    <h2>Spare Parts</h2>
    {% if spareparts %}
        <ul>
            {% for part in spareparts %}
                <li>{{ part.title }} - {{ part.description }}</li>
                <a href="{% url 'editSparepart' part.id %}"><button>Edit SparePart</button></a>
                <a ><button onclick="confirmDelete(this,'{{part.title}}')" data-url="{% url 'deleteSparepart' part.id %}">Delete SparePart</button></a><br>
                
                <div>
                    {% with img=spareparts_images|get_item:part.id %}
                        {% if img %}
                            <a href="{% url 'sparepart_detail' part.id %}">
                                <img src="/media/{{ img.image_path }}" alt="{{ part.title }}" width="150">
                            </a>
                        {% else %}
                        <p>No image available</p>
                        {% endif %}
                    {% endwith %}
                </div>

            {% endfor %}
        </ul>
    {% else %}
        <p>No spare parts found.</p>
    {% endif %}

    <h2>Services</h2>
    {% if services %}
        <ul>
            {% for service in services %}
                <li>{{ service.type_of_service.name }} - {{ service.description }}</li>
                <a href="{% url 'editService' service.id %}"><button>Edit Service</button></a>
                <a ><button onclick="confirmDelete(this,'{{service.type_of_service.name}}')" data-url="{% url 'deleteService' service.id %}">Delete Service</button></a><br>
                <div>
                    {% with img=service_images|get_item:service.id %}
                        {% if img %}
                            <a href="{% url 'service_detail' service.id %}">
                                <img src="/media/{{ img.image_path }}" alt="{{ service.type_of_service.name }}" width="150">
                            </a>
                        {% else %}
                            <p>No image available</p>
                        {% endif %}
                    {% endwith %}
                </div>

                <div>
                    <p>Sub service:</p>
                    <ul>
                        {% for subservice in service.sub_services.all %}
                            <li>{{ subservice.type_of_service.name }}</li>
                        {% empty %}
                            <li>No sub services listed.</li>
                        {% endfor %}
                    </ul>
                </div>

            {% endfor %}
        </ul>
    {% else %}
        <p>No services found.</p>
    {% endif %}

    
    <script>
        function confirmDelete(button,vehicle){
            if(confirm(`Are you sure to delete ${vehicle} ?`)){
                window.location.href = button.getAttribute("data-url");
            }
        }
    </script>
</body>
</html> -->
