{% extends 'main.html' %}

{% load dict_filters %}

{% block content %}


<div class="amado_product_area section-padding-100">
    <div class="container-fluid">

        {% include 'filters.html' %}
        
        <div class="row"> 
            <!--Vehichles-->
            {% if vehicles %}
                {% for vehicle in vehicles %}
                    <!-- Single Product Area -->
                    <div class="col-12 col-sm-6 col-md-12 col-xl-6">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                {% with img=vehicle_images|get_item:vehicle.id %}
                                    {% if img %}
                                        <a href="{% url 'vehicle_detail' vehicle.id %}">
                                            <img src="/media/{{ img.image_path }}" alt="{{ vehicle.model }}" width="50">
                                        </a>
                                    {% else %}
                                        <p>No image available</p>
                                    {% endif %}
                                {% endwith %}
                            </div>
                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    <p class="product-price">Ugshs.{{vehicle.price}}</p>
                                    <a href="#">
                                        <h6>{{vehicle.model}}</h6>
                                    </a>
                                </div>                        
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No vehicles found.</p>
            {% endif %}
        
            <!--Spareparts-->
        
            {% if spareparts %}
                {% for part in spareparts %}
                    <!-- Single Product Area -->
                    <div class="col-12 col-sm-6 col-md-12 col-xl-6">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                {% with img=spareparts_images|get_item:part.id %}
                                    {% if img %}
                                        <a href="{% url 'sparepart_detail' part.id %}">
                                            <img src="/media/{{ img.image_path }}" alt="{{ part.title }}" width="50">
                                        </a>
                                    {% else %}
                                        <p>No image available</p>
                                    {% endif %}
                                {% endwith %}
                            </div>
                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    <p class="product-price">Ugshs.{{part.price}}</p>
                                    <a href="#">
                                        <h6>{{ part.title }}</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No spare parts found.</p>
            {% endif %}
        
            <!--Services-->
        
            {% if services %}
                {% for service in services %}
                    <!-- Single Product Area -->
                    <div class="col-12 col-sm-6 col-md-12 col-xl-6">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                {% with img=service_images|get_item:service.id %}
                                    {% if img %}
                                        <a href="{% url 'service_detail' service.id %}">
                                            <img src="/media/{{ img.image_path }}" alt="{{ service.type_of_service.name }}" width="50">
                                        </a>
                                    {% else %}
                                        <p>No image available</p>
                                    {% endif %}
                                {% endwith %}
                            </div>
                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    <p class="product-price">$180</p>
                                    <a href="#">
                                        <h6>{{ service.type_of_service.name }}</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </ul>
            {% else %}
                <p>No services found.</p>
            {% endif %}
            
        </div>


    </div>
</div>


{% endblock %}
