{% extends 'main.html' %}

{% load dict_filters %}

{% block content %}

<!-- Product Details Area Start -->
<div class="single-product-area section-padding-100 clearfix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="single_product_thumb">
                    <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                        <!--
                        <ol class="carousel-indicators">
                            <li class="active" data-target="#product_details_slider" data-slide-to="0" style="background-image: url(img/product-img/pro-big-1.jpg);">
                            </li>
                            <li data-target="#product_details_slider" data-slide-to="1" style="background-image: url(img/product-img/pro-big-2.jpg);">
                            </li>
                            <li data-target="#product_details_slider" data-slide-to="2" style="background-image: url(img/product-img/pro-big-3.jpg);">
                            </li>
                            <li data-target="#product_details_slider" data-slide-to="3" style="background-image: url(img/product-img/pro-big-4.jpg);">
                            </li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a class="gallery_img" href="img/product-img/pro-big-1.jpg">
                                    <img class="d-block w-100" src="img/product-img/pro-big-1.jpg" alt="First slide">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a class="gallery_img" href="img/product-img/pro-big-2.jpg">
                                    <img class="d-block w-100" src="img/product-img/pro-big-2.jpg" alt="Second slide">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a class="gallery_img" href="img/product-img/pro-big-3.jpg">
                                    <img class="d-block w-100" src="img/product-img/pro-big-3.jpg" alt="Third slide">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a class="gallery_img" href="img/product-img/pro-big-4.jpg">
                                    <img class="d-block w-100" src="img/product-img/pro-big-4.jpg" alt="Fourth slide">
                                </a>
                            </div>
                        </div>
                    -->

                    <ol class="carousel-indicators">
                        {% for image in vehicle_images %}
                            <li data-target="#product_details_slider" data-slide-to="{{ forloop.counter0 }}" 
                                style="background-image: url(/media/{{ image.image_path }});"
                                class="{% if forloop.first %}active{% endif %}">
                            </li>
                        {% empty %}
                            <li>No images available.</li>
                        {% endfor %}
                    </ol>
                    
                    <div class="carousel-inner">
                        {% for image in vehicle_images %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <a class="gallery_img" href="/media/{{ image.image_path }}">
                                    <img class="d-block w-100" src="/media/{{ image.image_path }}" alt="Slide {{ forloop.counter }}">
                                </a>
                            </div>
                        {% empty %}
                            <div class="carousel-item active">
                                <p>No images available.</p>
                            </div>
                        {% endfor %}
                    </div>
                    

                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-5">
                <div class="single_product_desc">
                    <!-- Product Meta Data -->
                    <div class="product-meta-data">
                        <div class="line"></div>
                        <p class="product-price">Ugshs: {{ vehicle.price }}</p>
                        <a href="#">
                            <h6>{{ vehicle.model }}</h6>
                        </a>

                        <!-- Ratings & Review -->
                        <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                            <div class="ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="review">
                                <a href="{% url 'user_listings' vehicle.user.id %}">Contact Seller</a>
                            </div>
                        </div>
                        
                        <!-- Avaiable -->
                        <p class="avaibility"><i class="fa fa-circle"></i> {{vehicle.for_sale_or_rent}}</p>
                    </div>

                    <div class="short_overview my-5">
                        <h4>Condition</h4>
                        <p>{{ vehicle.condition }}</p>
                        <h4>Description</h4>
                        <p>{{ vehicle.description }}</p>
                        <h4>Year</h4>
                        <p>{{ vehicle.year }}</p>
                        <h4>Key Features</h4>
                        <ul>
                            {% for feature in vehicle.key_features.all %}
                                <li>{{ feature.feature }}</li>
                            {% empty %}
                                <li>No features listed.</li>
                            {% endfor %}
                        </ul>
                        
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Details Area End -->

<div class="amado_product_area section-padding-100">
    <div class="container-fluid">
        <div class="row"> 
            <!--Vehichles-->
            {% if related_vehicles %}
                {% for related_vehicle in related_vehicles %}
                    <!-- Single Product Area -->
                    <div class="col-12 col-sm-6 col-md-12 col-xl-6">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                {% with img=related_vehicle_images|get_item:related_vehicle.id %}
                                    {% if img %}
                                        <a href="{% url 'vehicle_detail' related_vehicle.id %}">
                                            <img src="/media/{{ img.image_path }}" alt="{{ related_vehicle.model }}">
                                        </a>
                                    {% else %}
                                        <p>No image available</p>
                                    {% endif %}
                                {% endwith %}
                            </div>
                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    <p class="product-price">Ugshs.{{related_vehicle.price}}</p>
                                    <a href="#">
                                        <h6>{{related_vehicle.model}}</h6>
                                    </a>
                                </div>                        
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No related vehicles found.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

<!--


<h1>{{ vehicle.make.name }} {{ vehicle.model }} ({{ vehicle.year }}) Details</h1>
<p>Description: {{ vehicle.description }}</p>
<p>Condition: {{ vehicle.condition }}</p>
<p>Price: ${{ vehicle.price }}</p>

<p>Owner: <a href="{% url 'user_listings' vehicle.user.id %}"> {{ vehicle.user.username }} </a> </p>

<h2>Images</h2>
{% for image in vehicle_images %}
    <img src="/media/{{ image.image_path }}" alt="{{ vehicle.model }}" width="300">
{% empty %}
    <p>No images available.</p>
{% endfor %}

<h2>Key Features</h2>
<ul>
    {% for feature in vehicle.key_features.all %}
        <li>{{ feature.feature }}</li>
    {% empty %}
        <li>No features listed.</li>
    {% endfor %}
</ul>

<h2>Related Vehicles</h2>
{% if related_vehicles %}
    <ul>
        {% for related_vehicle in related_vehicles %}
            <li>
                <a href="{% url 'vehicle_detail' related_vehicle.id %}">{{ related_vehicle.make.name }} {{ related_vehicle.model }} ({{ related_vehicle.year }})</a>
                {% with image=related_vehicle_images|get_item:related_vehicle.id %}
                    {% if image %}
                        <img src="/media/{{ image.image_path }}" alt="{{ related_vehicle.model }}" width="100">
                    {% else %}
                        <p>No image available.</p>
                    {% endif %}
                {% endwith %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No related vehicles found.</p>
{% endif %}

<a href="{% url 'dashboard' %}"><button>Back to Dashboard</button></a>

-->

